.root{
  /*text-align: center;*/
  padding-top: 5rem;
  width: 600px;
  margin: 0 auto;
}
.List {
  color: #1a1717;
  list-style-type: none;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid darkgray;
  margin-bottom: .5rem;
}

